body {
  margin: 0;
  font-family: sans-serif;
}

header {
  box-shadow: 3px 3px 5px rgb(230, 230, 230);
  padding: 1rem;
}

main {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn {
  cursor: pointer;
}

header nav {
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgb(161, 161, 161);
  position: absolute;
  top: 120px;
  overflow: hidden;
  left: -100%;    
  z-index: 2;
  transition: 1s;
}

.show-nav {
  overflow: visible;
  left: 0;
}

.mobile > div {
  width: 30px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Read Products */

.read > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

aside.plant-product {
    border: 1px solid rgb(230, 230, 230);
    width: 355px;
    margin: 0 auto;
    margin-bottom: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside img {
  width: 100%;
}

aside footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

aside button {
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgb(161, 161, 161);
  padding: .75rem 2rem;
  width: 50%;
}

/* Insert a Plant */

.exit  {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgb(161, 161, 161);
}

.exit a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 1rem;
}

.exit a:hover {
  background-color: rgb(245, 245, 245);
}

.add-new-plant,
.update-plant {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid rgb(230, 230, 230);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.add-new-plant img {
  width: 100%;
}

.add-new-plant label,
.update-plant label {
  font-size: 1.125rem;
  margin-bottom: .25rem;
}

.add-new-plant label:first-of-type,
.update-plant label:first-of-type {
  margin-top: 1rem;
}

.add-new-plant input,
.update-plant input {
  margin-bottom: 1rem;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgb(161, 161, 161);
  padding: 1rem;
}

.add-new-plant button,
.update-plant button {
  padding: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgb(161, 161, 161);
}

.add-new-plant button:hover,
.update-plant button:hover {  
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

@media screen and (min-width: 730px) {
 
  .toggle-btn {
    display: none;
  }
  
  header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  header nav {
    overflow: hidden;
    position: static;
    box-shadow: none;
    width: fit-content;
  }

}